--- drivers/usb/Kconfig
+++ drivers/usb/Kconfig
@@ -62,6 +62,7 @@
 	default y if ARCH_AT91SAM9G45
 	default y if ARCH_MXC
 	default y if ARCH_OMAP34XX
+	default y if ARCH_LPC313X
 	default PCI
 
 # ARM SA1111 chips have a non-PCI based "OHCI-compatible" USB host interface.
