--- drivers/i2c/busses/Kconfig
+++ drivers/i2c/busses/Kconfig
@@ -468,7 +468,7 @@
 
 config I2C_PNX
 	tristate "I2C bus support for Philips PNX targets"
-	depends on ARCH_PNX4008
+	depends on ARCH_PNX4008 || ARCH_LPC313X
 	help
 	  This driver supports the Philips IP3204 I2C IP block master and/or
 	  slave controller
