--- sound/soc/codecs/Kconfig
+++ sound/soc/codecs/Kconfig
@@ -35,6 +35,7 @@
 	select SND_SOC_TWL4030 if TWL4030_CORE
 	select SND_SOC_UDA134X
 	select SND_SOC_UDA1380 if I2C
+	select SND_SOC_LPC315X_CODEC if I2C
 	select SND_SOC_WM8350 if MFD_WM8350
 	select SND_SOC_WM8400 if MFD_WM8400
 	select SND_SOC_WM8510 if SND_SOC_I2C_AND_SPI
@@ -158,6 +159,9 @@
 config SND_SOC_UDA134X
        tristate
 
+config SND_SOC_LPC315X_CODEC
+       tristate
+
 config SND_SOC_UDA1380
         tristate
 
