--- drivers/mtd/nand/Kconfig
+++ drivers/mtd/nand/Kconfig
@@ -461,6 +461,12 @@
 	help
 	  Several Renesas SuperH CPU has FLCTL. This option enables support
 	  for NAND Flash using FLCTL. This driver support SH7723.
+	  
+config MTD_NAND_LPC313X
+	tristate "Support for NAND Controller on NXP LPC313x"
+	depends on ARCH_LPC313X
+	help
+	  This enables the NAND flash controller on the LPC313x
 
 config MTD_NAND_DAVINCI
         tristate "Support NAND on DaVinci SoC"
