--- drivers/usb/gadget/Kconfig
+++ drivers/usb/gadget/Kconfig
@@ -155,12 +155,12 @@
 	select USB_GADGET_SELECTED
 
 config USB_GADGET_FSL_USB2
-	boolean "Freescale Highspeed USB DR Peripheral Controller"
-	depends on FSL_SOC || ARCH_MXC
+	boolean "Freescale/LPC313x Highspeed USB DR Peripheral Controller"
+	depends on FSL_SOC || ARCH_MXC || ARCH_LPC313X
 	select USB_GADGET_DUALSPEED
 	help
-	   Some of Freescale PowerPC processors have a High Speed
-	   Dual-Role(DR) USB controller, which supports device mode.
+	   Some of Freescale PowerPC processors and LPC313x have a High 
+	   Speed Dual-Role(DR) USB controller, which supports device mode.
 
 	   The number of programmable endpoints is different through
 	   SOC revisions.
