--- drivers/mmc/host/Kconfig
+++ drivers/mmc/host/Kconfig
@@ -4,6 +4,12 @@
 
 comment "MMC/SD/SDIO Host Controller Drivers"
 
+config MMC_LPC313x
+	tristate "NXP LPC313x SD/MMC Card Interface support"
+	default M
+	help
+	  set default module sd/mmc installed for lpc313x
+	  
 config MMC_ARMMMCI
 	tristate "ARM AMBA Multimedia Card Interface support"
 	depends on ARM_AMBA
