--- sound/soc/Kconfig
+++ sound/soc/Kconfig
@@ -36,6 +36,7 @@
 source "sound/soc/s6000/Kconfig"
 source "sound/soc/sh/Kconfig"
 source "sound/soc/txx9/Kconfig"
+source "sound/soc/lpc313x/Kconfig"
 
 # Supported codecs
 source "sound/soc/codecs/Kconfig"
