--- drivers/spi/Kconfig
+++ drivers/spi/Kconfig
@@ -303,6 +303,12 @@
 	help
 	  SPI driver for Nuvoton NUC900 series ARM SoCs
 
+config SPI_LPC313X
+	tristate "LPC313X SPI controller"
+	depends on SPI_MASTER && ARCH_LPC313X
+	help
+	  SPI controller for the LPC313X device with DMA support
+
 #
 # Add new SPI master controllers in alphabetical order above this line
 #
